 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/525.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 483px;
}

.u-section-1 .u-text-1 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0.5;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-weight: 700;
  margin: 255px 0 0 728px;
}

.u-section-1 .u-text-2 {
  font-size: 3.75rem;
  margin: -33px 1004px 37px 55px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-size: 3rem;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 398px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 418px;
    margin-left: 528px;
  }

  .u-section-1 .u-text-2 {
    margin: -196px 859px 60px 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 305px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 308px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 639px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 229px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 128px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -169px;
    margin-right: 459px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 144px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 405px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
    margin-top: -130px;
    margin-right: 259px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 282px;
}

.u-section-2 .u-text-1 {
  font-size: 2.25rem;
  margin: 70px auto 0;
}

.u-section-2 .u-text-2 {
  line-height: 1.8;
  width: 680px;
  margin: 20px auto 60px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-2 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  padding: 3px 10px;
}

@media (max-width: 767px) {
  .u-section-2 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 883px;
}

.u-section-3 .u-line-1 {
  width: 912px;
  border-style: double;
  margin: 16px auto 0;
}

.u-section-3 .u-text-1 {
  background-image: none;
  text-shadow: 2px 2px 8px rgba(128,128,128,1);
  font-weight: 700;
  text-transform: uppercase;
  width: 225px;
  font-size: 2.25rem;
  margin: 47px auto 0;
}

.u-section-3 .u-image-1 {
  width: 89px;
  height: 90px;
  margin: 47px auto 0 185px;
}

.u-section-3 .u-image-2 {
  width: 91px;
  height: 91px;
  margin: -90px auto 0 394px;
}

.u-section-3 .u-image-3 {
  width: 90px;
  height: 90px;
  margin: -90px 418px 0 auto;
}

.u-section-3 .u-image-4 {
  width: 89px;
  height: 89px;
  margin: -89px 186px 0 auto;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  margin: 40px 666px 0 426px;
}

.u-section-3 .u-text-3 {
  font-size: 1.25rem;
  margin: -21px 194px 0 872px;
}

.u-section-3 .u-text-4 {
  font-size: 1.25rem;
  margin: -21px 904px 0 223px;
}

.u-section-3 .u-text-5 {
  font-size: 1.25rem;
  margin: -21px 437px 0 655px;
}

.u-section-3 .u-image-5 {
  width: 126px;
  height: 126px;
  margin: 71px 398px 0 auto;
}

.u-section-3 .u-image-6 {
  width: 92px;
  height: 92px;
  margin: -109px auto 0 398px;
}

.u-section-3 .u-image-7 {
  width: 89px;
  height: 91px;
  margin: -92px auto 0 185px;
}

.u-section-3 .u-image-8 {
  width: 122px;
  height: 70px;
  margin: -80px 167px 0 auto;
}

.u-section-3 .u-text-6 {
  font-size: 1.25rem;
  margin: 40px 418px 0 636px;
}

.u-section-3 .u-text-7 {
  font-size: 1.25rem;
  margin: -21px 666px 0 405px;
}

.u-section-3 .u-text-8 {
  font-size: 1.25rem;
  margin: -21px 884px 0 203px;
}

.u-section-3 .u-text-9 {
  font-size: 1.25rem;
  margin: -21px 194px 0 885px;
}

.u-section-3 .u-image-9 {
  width: 91px;
  height: 91px;
  margin: 89px auto 0 185px;
}

.u-section-3 .u-image-10 {
  width: 155px;
  height: 85px;
  filter: brightness(0.65);
  margin: -91px 142px 0 auto;
}

.u-section-3 .u-image-11 {
  width: 148px;
  height: 85px;
  margin: -85px 383px 0 auto;
}

.u-section-3 .u-image-12 {
  width: 90px;
  height: 90px;
  margin: -85px auto 0 398px;
}

.u-section-3 .u-text-10 {
  font-size: 1.25rem;
  margin: 41px 627px 0 374px;
}

.u-section-3 .u-text-11 {
  font-size: 1.25rem;
  margin: -20px 387px 0 613px;
}

.u-section-3 .u-text-12 {
  font-size: 1.25rem;
  margin: -21px 150px 0 851px;
}

.u-section-3 .u-text-13 {
  font-size: 1.25rem;
  margin: -21px 883px 60px 204px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-3 .u-image-1 {
    height: 134px;
  }

  .u-section-3 .u-image-2 {
    margin-top: -134px;
  }

  .u-section-3 .u-image-3 {
    margin-top: -86px;
  }

  .u-section-3 .u-image-4 {
    height: 134px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 17px;
    margin-right: 566px;
    margin-left: 326px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 1px;
    margin-right: 94px;
    margin-left: 772px;
  }

  .u-section-3 .u-text-4 {
    margin-top: -44px;
    margin-right: 804px;
    margin-left: 123px;
  }

  .u-section-3 .u-text-5 {
    margin-top: 1px;
    margin-right: 337px;
    margin-left: 555px;
  }

  .u-section-3 .u-image-5 {
    margin-top: 11px;
  }

  .u-section-3 .u-image-6 {
    margin-top: -271px;
  }

  .u-section-3 .u-image-8 {
    margin-top: 0;
  }

  .u-section-3 .u-text-6 {
    margin-top: -85px;
    margin-right: 318px;
    margin-left: 536px;
  }

  .u-section-3 .u-text-7 {
    margin-top: -20px;
    margin-right: 566px;
    margin-left: 305px;
  }

  .u-section-3 .u-text-8 {
    margin-right: 784px;
    margin-left: 103px;
  }

  .u-section-3 .u-text-9 {
    margin-top: -25px;
    margin-right: 94px;
    margin-left: 785px;
  }

  .u-section-3 .u-image-9 {
    margin-top: 84px;
  }

  .u-section-3 .u-image-10 {
    margin-top: -120px;
  }

  .u-section-3 .u-image-11 {
    margin-top: -127px;
  }

  .u-section-3 .u-image-12 {
    margin-top: -141px;
  }

  .u-section-3 .u-text-10 {
    margin-top: 48px;
    margin-right: 527px;
    margin-left: 274px;
  }

  .u-section-3 .u-text-11 {
    margin-top: -26px;
    margin-right: 287px;
    margin-left: 513px;
  }

  .u-section-3 .u-text-12 {
    margin-right: 50px;
    margin-left: 751px;
  }

  .u-section-3 .u-text-13 {
    margin-top: -120px;
    margin-right: 783px;
    margin-left: 104px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-line-1 {
    width: 720px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 456px;
    margin-left: 216px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
    margin-left: 646px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 694px;
    margin-left: 13px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 227px;
    margin-left: 445px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 208px;
    margin-left: 426px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 456px;
    margin-left: 195px;
  }

  .u-section-3 .u-text-8 {
    margin-right: 667px;
    margin-left: 0;
  }

  .u-section-3 .u-text-9 {
    margin-right: 0;
    margin-left: 659px;
  }

  .u-section-3 .u-text-10 {
    margin-top: -50px;
    margin-right: 417px;
    margin-left: 164px;
  }

  .u-section-3 .u-text-11 {
    margin-right: 177px;
    margin-left: 403px;
  }

  .u-section-3 .u-text-12 {
    margin-right: 0;
    margin-left: 581px;
  }

  .u-section-3 .u-text-13 {
    margin-top: -22px;
    margin-right: 667px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-line-1 {
    width: 540px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 366px;
    margin-left: 126px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 466px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 527px;
    margin-left: 0;
  }

  .u-section-3 .u-text-5 {
    margin-right: 137px;
    margin-left: 355px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 118px;
    margin-left: 336px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 366px;
    margin-left: 105px;
  }

  .u-section-3 .u-text-8 {
    margin-right: 487px;
  }

  .u-section-3 .u-text-9 {
    margin-left: 479px;
  }

  .u-section-3 .u-text-10 {
    margin-top: 48px;
    margin-right: 327px;
    margin-left: 74px;
  }

  .u-section-3 .u-text-11 {
    margin-right: 87px;
    margin-left: 313px;
  }

  .u-section-3 .u-text-12 {
    margin-left: 401px;
  }

  .u-section-3 .u-text-13 {
    margin-top: -120px;
    margin-right: 487px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-line-1 {
    width: 340px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-image-2 {
    margin-left: 249px;
  }

  .u-section-3 .u-image-3 {
    margin-right: 250px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 266px;
    margin-left: 26px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 266px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 327px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 37px;
    margin-left: 255px;
  }

  .u-section-3 .u-image-5 {
    margin-right: 214px;
  }

  .u-section-3 .u-image-6 {
    margin-left: 248px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 18px;
    margin-left: 236px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 266px;
    margin-left: 5px;
  }

  .u-section-3 .u-text-8 {
    margin-right: 287px;
  }

  .u-section-3 .u-text-9 {
    margin-left: 279px;
  }

  .u-section-3 .u-image-11 {
    margin-right: 192px;
  }

  .u-section-3 .u-image-12 {
    margin-left: 250px;
  }

  .u-section-3 .u-text-10 {
    margin-right: 201px;
    margin-left: 0;
  }

  .u-section-3 .u-text-11 {
    margin-right: 0;
    margin-left: 200px;
  }

  .u-section-3 .u-text-12 {
    margin-left: 201px;
  }

  .u-section-3 .u-text-13 {
    margin-right: 287px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 1014px;
  margin-bottom: 0;
}

.u-section-4 .u-line-1 {
  width: 912px;
  border-style: double;
  margin: 16px auto 0;
}

.u-section-4 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 2px 2px 8px rgba(128,128,128,1);
  width: 482px;
  margin: 48px auto 0;
}

.u-section-4 .u-gallery-1 {
  height: 722px;
  margin-top: 59px;
  margin-bottom: 60px;
}

.u-section-4 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-4 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-4 .u-back-image-1 {
  object-position: 50% 0%;
}

.u-section-4 .u-over-slide-1 {
  min-height: 100px;
  padding: 45px;
}

.u-section-4 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-4 .u-back-image-2 {
  object-position: 50% 0%;
}

.u-section-4 .u-over-slide-2 {
  min-height: 100px;
  padding: 45px;
}

.u-section-4 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-4 .u-back-image-3 {
  object-position: 50% 0%;
}

.u-section-4 .u-over-slide-3 {
  min-height: 100px;
  padding: 45px;
}

.u-section-4 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  background-image: none;
  padding: 0;
}

.u-section-4 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  background-image: none;
  padding: 0;
}

@media (max-width: 991px) {
  .u-section-4 .u-line-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-line-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-line-1 {
    width: 340px;
  }

  .u-section-4 .u-text-1 {
    width: 340px;
  }
}